<div class="excel__table" #table>
  <div class="row">
    <div (click)="highlight($event.target, table)" class="row-info"></div>
    <div class="row-data">
      <div
        #colRef
        (click)="highlight(colRef, table, prevCol + 1)"
        data-type="col"
        *ngFor="let charCode of columns; let prevCol = index"
        [ngClass]="[
          'column',
          shouldHighlight(colRef, prevCol + 1) ? 'highlightHeader' : ''
        ]"
      >
        {{ charCode | fromCharCode }}
      </div>
    </div>
  </div>

  <div *ngFor="let row of rows" class="row">
    <div
      #rowRef
      (click)="highlight(rowRef, table, row)"
      [ngClass]="[
        'row-info',
        shouldHighlight(rowRef, row) ? 'highlightHeader' : ''
      ]"
      data-type="row"
    >
      {{ row }}
    </div>

    <div class="row-data">
      <div
        *ngFor="let _ of columns; let i = index"
        (click)="selectCell(row, i + 1)"
        [ngClass]="[isSelectedCell(row, i + 1) ? 'selected' : '', 'cell']"
        data-type="cell"
        contenteditable
      ></div>
    </div>
  </div>

  <div
    [ngStyle]="highlighter.styles"
    *ngIf="highlighter.styles"
    data-type="highlighter"
    class="highlighter"
  ></div>
</div>
